.about{

    background: url('/assets/hero/about-illustration.png') no-repeat right center;
    padding:120px 0 180px;

    @include flexible(space-between, flex-start, column);
    &__header{
        max-width: 555px;
        margin-bottom: 20px;
        @include font(50px, 70px, $dark, 500);
    }

    &__text{
        max-width: 555px;
        margin-bottom: 50px;
        @include font($sm, $line-height, $dark);
    }

    &__link{
        background-color: $error;
        padding: 20px 80px;
        border-radius: $rounded;
        @include font($sm, $line-height, $white, bold);
    }

    &__link:hover{
        background-color: $white;
        color: $error;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
}