@mixin flexible($justify-content: center, $align-items: center, $direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;    
}

@mixin font($font-size: 16px, $line-height: 30px, $color: black, $font-weight: 400, $font-family: 'Rubik' sans-serif){
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-weight: $font-weight;
    font-family: $font-family;
}