//BORDER-RADIUS
$rounded: 10px;

// COLORS

$error: #F53855;
$white: #FFF;
$grey: #4F5665;
$dark: #0B132A;
$light-grey: #AFB5C0;


//TYPOGHRAPHY
//FONT-SIZE
$xxl: 35px;
$xl: 25px;
$l: 20px;
$m: 18px;
$sm: 16px;
$xs: 14px;

//FONT-FAMILY
$main-font: 'Rubik';
$line-height: 30px;